@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:#0f2245;
  padding: 2.5rem;
  height: 100%;
  color: #f1f2f6;

}

main {
  grid-auto-rows: minmax(140px, auto);  /*Kész*/
  display: grid;
  grid-template-columns: repeat(6fr);
  gap: 1.6rem;
  max-width: 1300px;
  align-items: center;
}

/* Alap kártya */
.card {
  backdrop-filter: blur(8px); /*Kész*/
  overflow: hidden;   /*Kész*/
  transition: all 0.35s ease;  /*Kész*/
  position: relative;
  background-color: rgba(255, 255, 255, .12);
  border-radius: 18px;
  box-shadow: 0 8px 25px #000 0.2;
  display: flexbox;
  border: 1px solid .1 #fff;
}
.card:hover{
  size: 1.02;
}

.card img {
  object-fit: cover;   /*Kész*/
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #fff .1;
}
/* Címke */

.content{
  padding: 1.1rem;
  display: flexbox;
  gap: .5rem;
}
.content h3{
  color: white;
  font-style: unset;
}
.content p{
  line-height: 150%;
}
.content ul{
  margin-top: 0.4rem;
  padding-bottom: 1.2rem;
}

.label {
  background: #f39c12;/*Kész*/
  color: white;/*Kész*/
  font-size: 0.75rem;/*Kész*/
  font-weight: bold;/*Kész*/
  padding: 0.35rem 0.75rem;/*Kész*/
  border-radius: 20px;/*Kész*/
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);/*Kész*/
  position: absolute;
}
.featured{
  grid-column: 0 / 3;
  grid-row: 0 / 2;
}
.wide{
  grid-column: 2/6;
  grid-row: 0/2;
}
.tall{
  grid-column: 5/6;
  grid-row: 1/2;
}